.text--danger {
  color: #e64e3c; }

.card {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background-color: #FAFAFA; }

.text--danger {
  color: #e64e3c; }

.card {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background-color: #FAFAFA; }

.col {
  display: flex;
  flex-flow: column; }

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }

.center {
  align-items: center; }

.centered {
  align-self: center; }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.slideOutUp {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

html, body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e0e0e0;
  color: #4A4A4A; }

.login__background {
  background-color: #019875;
  width: 100vw;
  min-height: 100vh; }

.login__title {
  color: #FAFAFA;
  font: "Source Serif Pro";
  font-size: 60px;
  font-weight: 100;
  line-height: 75px;
  text-shadow: -1px 1px 0 #01654E;
  margin-top: 32px;
  margin-bottom: 8px; }

.login__byline {
  color: #FAFAFA;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding: 0 16px;
  margin: 0 0 18px 0; }

.login__form {
  display: flex;
  flex-flow: column;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #FAFAFA;
  min-width: 296px;
  padding: 8px;
  margin: 0 12px 12px 12px;
  box-sizing: border-box; }
  .login__form form {
    display: flex;
    flex-flow: column;
    padding-top: 14px; }
  .login__form label {
    font-size: 14px;
    font-weight: 600;
    color: #4A4A4A;
    padding: 0 0 0 4px;
    margin-bottom: 4px; }
  .login__form input {
    background-color: #e9e9e9;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    outline: none;
    height: 48px;
    padding: 0 12px;
    margin-bottom: 12px; }
    .login__form input:last-of-type {
      margin-bottom: 16px; }
  .login__form button.btn--primary {
    margin-bottom: 24px; }
  .login__form button.btn--secondary {
    margin-bottom: 8px; }

.btn {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  outline: none;
  border-radius: 8px;
  height: 40px; }
  .btn--primary {
    background-color: #019875;
    color: #FAFAFA; }
  .btn--secondary {
    background-color: #e9e9e9;
    color: #4A4A4A; }
  .btn--big {
    height: 48px;
    border-radius: 2px; }

.appnav__bar {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  position: relative;
  justify-content: space-between;
  background-color: #019875;
  color: #FAFAFA;
  width: 100%;
  height: 56px; }

.appnav__container {
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
  height: 56px; }

.appnav__menubtn__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  min-width: 56px;
  min-height: 56px; }

.appnav__search {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  transition: all .3s; }
  .appnav__search label {
    font-size: 20px; }
  .appnav__search.disabled {
    opacity: .5; }

.appnav__addcard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  min-width: 56px;
  min-height: 56px; }
  .appnav__addcard span {
    display: none; }

.appnav__savecard label {
  font-size: 20px; }

.appnav__bumper {
  width: 100%;
  height: 56px;
  margin-bottom: 8px; }

.dashboard__container {
  padding: 12px; }

.dashnav__container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 624px;
  margin-bottom: 16px; }

.dashnav__selectall--unselected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid #9E9E9E;
  align-self: flex-start;
  margin-left: 16px; }

.dashnav__selectall--selected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid #019875;
  align-self: flex-start;
  margin-left: 16px;
  background-size: contain;
  background-image: url(../images/study_checkbox-selected.svg);
  background-repeat: no-repeat;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s; }

.dashnav__selectAllLabel {
  padding-left: 16px;
  color: #4A4A4A; }

.dashnav__newdeck {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 12px 4px 4px;
  margin-left: auto;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: center;
  background-color: #019875;
  color: #FAFAFA; }
  .dashnav__newdeck i {
    margin-right: 4px; }

.newdeck__container {
  position: absolute;
  z-index: 6;
  top: 56px;
  left: 0;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
  max-width: 624px;
  background-color: #FAFAFA; }
  .newdeck__container input {
    border: 1px solid #e9e9e9;
    padding: 4px; }

.neckdeck__container .ng-hide-animate {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp; }

.dashnav__studyButton__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: 0px;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  background-color: #FAFAFA;
  transition: all .3s; }
  .dashnav__studyButton__container.ng-enter {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    opacity: 1;
    visibility: visible; }
  .dashnav__studyButton__container.ng-leave {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown; }

.dashnav__studyButton {
  width: 100%;
  height: 48px;
  color: #FAFAFA;
  background-color: #019875;
  outline: none;
  border: none;
  border-radius: 2px; }

.decks__container {
  display: flex;
  flex-flow: column;
  align-items: center; }

.deck__container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 624px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 12px;
  border-radius: 12px;
  background-color: #FAFAFA; }

.deck__wrapper {
  width: 100%; }

@media screen and (min-device-width: 600px) {
  .deck__container, .deck__wrapper {
    display: flex;
    flex-flow: column; } }
.deck__checkbox--unselected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid #e0e0e0;
  align-self: flex-start; }

.deck__checkbox--selected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  border: 3px solid #019875;
  align-self: flex-start;
  background-size: contain;
  background-image: url(../images/study_checkbox-selected.svg);
  background-repeat: no-repeat;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s; }

.deck__infotext {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-wrap: wrap; }

.deck__title--mobile, .deck__title--mobile--empty {
  margin: 0;
  padding-left: 16px;
  font-family: "Source Serif Pro", serif;
  font-weight: 700; }

.deck__title--mobile--empty {
  margin-left: 0px; }

.card__wrapper--new {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  display: block;
  position: fixed;
  top: 56px;
  height: 100%;
  width: 100%;
  z-index: 20;
  box-sizing: border-box;
  background-color: #e0e0e0; }
  .card__wrapper--new.ng-animate {
    background-color: red;
    color: red; }
  .card__wrapper--new.ng-enter {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown; }
  .card__wrapper--new.ng-leave {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp; }

.cards__stage {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  overflow: scroll; }

.cards__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background: #e0e0e0; }

.cardnav__container--mobile {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 56px;
  z-index: 5;
  width: 100%;
  height: 40px;
  background-color: #FAFAFA; }
  .cardnav__container--mobile button:focus {
    background-color: #BDBDBD; }

.cardnav__question {
  height: 100%;
  width: 33%;
  border: none;
  outline: none;
  background: none;
  flex: 1 1 auto;
  border-right: 1px solid #dddddd; }
  .cardnav__question.active {
    background-color: #e9e9e9; }

.cardnav__answer {
  height: 100%;
  width: 33%;
  border: none;
  outline: none;
  background: none;
  flex: 1 1 auto;
  border-right: 1px solid #dddddd; }
  .cardnav__answer.active {
    background-color: #e9e9e9; }

.cardnav__save {
  height: 100%;
  width: 33%;
  border: none;
  outline: none;
  background: none;
  flex: 1 1 auto; }

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  padding: 8px;
  margin-top: 96px;
  margin-bottom: 8px;
  box-sizing: border-box;
  overflow: scroll; }

.card__container {
  width: 100%;
  position: relative; }
  .card__container .CodeMirror {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 0 0 2px 2px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 4px;
    margin: auto;
    font-family: 'Source Code Pro', serif;
    font-size: 13px;
    font-weight: 600; }

#questionMirrorTarget .CodeMirror, #questionMirrorTarget button {
  z-index: 2; }

#answerMirrorTarget .CodeMirror, #answerMirrorTarget button {
  z-index: 2; }

.card__editprev {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 2px 2px 0 0;
  background-color: #FAFAFA;
  color: #4A4A4A;
  text-align: center; }

.card--preview {
  display: flex;
  flex-flow: column;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  width: 100%;
  min-height: 300px;
  top: 40px;
  position: relative;
  z-index: 2;
  padding: 8px;
  box-sizing: border-box;
  overflow: scroll;
  border-radius: 0 0 2px 2px;
  background-color: #FAFAFA; }

@media only screen and (min-device-width: 400px) and (max-device-width: 600px) {
  .deck__title--mobile, .deck__title--mobile--empty {
    display: none; }

  .deck__infotext {
    display: flex;
    flex-flow: column; }

  .deck__timestamp {
    padding-left: 16px;
    margin: 8px 0; }

  .deck__donut__wrapper {
    margin: 16px auto; }

  .deck__studybtn__tablet {
    display: none; } }
.deck__title--tablet {
  margin: 0;
  padding-left: 16px;
  font-family: "Source Serif Pro", serif;
  font-weight: 700; }

.deck__title--mobile--empty {
  padding-left: 0px; }

@media screen and (max-device-width: 399px) {
  .deck__title--tablet {
    display: none; }

  .deck__studybtn__tablet {
    display: none; } }
.deck__buttongroup__mobile {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  overflow: hidden; }

.deck__studybtn__mobile {
  align-self: center;
  background-color: #019875;
  color: #FAFAFA;
  text-align: center;
  padding: 8px;
  width: 50%;
  outline: none;
  border: none;
  transition: all .3s; }
  .deck__studybtn__mobile.disabled {
    opacity: .4; }
  .deck__studybtn__mobile:last-of-type {
    border-left: 1px solid #FAFAFA; }

.deck__addcards__mobile {
  align-self: center;
  background-color: #019875;
  color: #FAFAFA;
  text-align: center;
  padding: 8px;
  width: 50%;
  outline: none;
  border: none;
  transition: all .3s;
  width: 100%; }
  .deck__addcards__mobile.disabled {
    opacity: .4; }
  .deck__addcards__mobile:last-of-type {
    border-left: 1px solid #FAFAFA; }

.deck__timestamp {
  flex-wrap: wrap;
  color: #9E9E9E; }

.deck__donut__wrapper {
  margin: auto; }

.deck__donut {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  width: 264px;
  margin-bottom: 16px; }
  .deck__donut section {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-around; }
    .deck__donut section p {
      margin: 0; }
  .deck__donut .doughnut-legend {
    list-style: none;
    padding: 0 12px 0 0;
    margin: 0px; }
    .deck__donut .doughnut-legend li {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      align-items: center;
      text-align: right; }
      .deck__donut .doughnut-legend li strong {
        text-align: right;
        max-width: 36px; }
      .deck__donut .doughnut-legend li span {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin: 0 8px; }

.deck__stats {
  font-size: 15px;
  border-right: 1px solid #e9e9e9;
  text-align: center;
  padding-right: 16px; }

.deck__schedule {
  margin-bottom: 8px; }
  .deck__schedule .material-icons {
    font-size: 14px;
    padding-top: 4px; }
  .deck__schedule td {
    vertical-align: middle; }
  .deck__schedule td:nth-child(1) {
    text-align: right; }
  .deck__schedule td:nth-child(2) {
    width: 24px;
    text-align: center; }
  .deck__schedule td:nth-child(3) {
    text-align: left; }

.deck__canvas__container {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 96px;
  height: 96px;
  position: relative;
  canvas-position: relative; }

.deck__card-count {
  position: relative;
  top: -64px;
  margin: 0;
  font-weight: 400;
  font-size: 24px; }

@media only screen and (min-device-width: 601px) {
  .appnav__addcard {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    right: 0;
    border: none;
    box-shadow: none;
    margin-right: 16px; }
    .appnav__addcard span {
      display: inline-block;
      margin-right: 8px;
      font-size: 20px; }

  .deck__container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: #FAFAFA; }

  .deck__checkbox--unselected {
    align-self: auto;
    width: 30px;
    height: 30px;
    border: 5px solid #e0e0e0;
    border-radius: 8px;
    margin-left: 8px; }

  .deck__checkbox--selected {
    align-self: auto;
    width: 30px;
    height: 30px;
    border: 5px solid #019875;
    border-radius: 8px;
    margin-left: 8px; }

  .deck__title--mobile, .deck__title--mobile--empty {
    display: none; }

  .deck__infotext {
    display: flex;
    flex-flow: column;
    margin-left: 24px; }

  .deck__title--tablet {
    padding: 0;
    font-size: 22px;
    max-width: 256px; }

  .deck__timestamp {
    margin: 8px 0; }

  .deck__studybtn__mobile {
    display: none; }

  .deck__addcards__mobile {
    display: none; }

  .deck__studybtn__tablet {
    padding: 0;
    margin: 0;
    width: 88px;
    color: #019875;
    text-decoration: underline;
    text-align: left;
    outline: none;
    border: none;
    background-color: #FAFAFA; }
    .deck__studybtn__tablet.disabled {
      opacity: .4; }

  .deck__donut__wrapper {
    margin-left: auto;
    margin-right: 0; }

  .deck__donut {
    margin-bottom: 0px;
    flex-wrap: nowrap; } }

/*# sourceMappingURL=app.css.map */
