/*
Error: Invalid US-ASCII character "\xE2"
        on line 263 of _include-media.scss
        from line 2 of app.scss

258: ///
259: /// Get operator of an expression
260: ///
261: /// @param {String} $expression - Expression to extract operator from
262: ///
263: /// @return {String} - Any of `>=`, `>`, `<=`, `<`, `≥`, `≤`
264: ///
265: @function get-expression-operator($expression) {
266:   @each $operator in ('>=', '>', '<=', '<', '≥', '≤') {
267:     @if str-index($expression, $operator) {
268:       @return $operator;

Backtrace:
_include-media.scss:263
app.scss:2
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/util.rb:1296:in `rescue in block in find_encoding_error'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/util.rb:1293:in `block in find_encoding_error'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/util.rb:1292:in `each'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/util.rb:1292:in `each_with_index'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/util.rb:1292:in `find_encoding_error'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/util.rb:901:in `check_sass_encoding'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:433:in `check_encoding!'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:389:in `_to_tree'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:309:in `to_tree'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/skywinston/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
/Users/skywinston/.rvm/gems/ruby-2.2.1/bin/scss:23:in `load'
/Users/skywinston/.rvm/gems/ruby-2.2.1/bin/scss:23:in `<main>'
/Users/skywinston/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/skywinston/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE2\"\A         on line 263 of _include-media.scss\A         from line 2 of app.scss\A \A 258: ///\A 259: /// Get operator of an expression\A 260: ///\A 261: /// @param {String} $expression - Expression to extract operator from\A 262: ///\A 263: /// @return {String} - Any of `>=`, `>`, `<=`, `<`, `≥`, `≤`\A 264: ///\A 265: @function get-expression-operator($expression) {\A 266:   @each $operator in ('>=', '>', '<=', '<', '≥', '≤') {\A 267:     @if str-index($expression, $operator) {\A 268:       @return $operator;"; }
