@import 'variables';
@import 'layout';
@import 'animations';
//@import '_include-media';

html, body {
  font-family: $maintype, sans-serif;
  background-color: $background;
  color: $text--primary;
}

// COMPONENTS


.app__container {
  @include flex-col;
}


// Login BEGIN

.login__background {
  background-color: $primary;
  width: 100vw;
  min-height: 100vh;
}

.login__title {
  color: $white;
  font: $secondarytype;
  font-size: 60px;
  font-weight: 100;
  line-height: 75px;
  text-shadow: -1px 1px 0 $primary--accent--dark;

  margin-top: 32px;
  margin-bottom: 8px;
}

.login__byline {
  color: $white;
  font-family: $secondarytype, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  padding: 0 16px;
  margin: 0 0 18px 0;
}

.login__form {
  @include flex-col;
  @include card(1);

  background-color: $white;

  min-width: 296px;

  padding: 8px;
  margin: 0 12px 12px 12px;
  box-sizing: border-box;

  form {
    @include flex-col;

    padding-top: 14px;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    color: $text--primary;

    padding: 0 0 0 4px;
    margin-bottom: 4px;
  }

  input {
    background-color: $offwhite;
    border: 1px solid $offwhite--accent;
    border-radius: 2px;
    outline: none;

    height: 48px;
    padding: 0 12px;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  button {
    &.btn--primary {
      margin-bottom: 24px;
    }

    &.btn--secondary {
      margin-bottom: 8px;
    }
  }
}

.btn {
  @include card(1);

  border: none;
  outline: none;
  border-radius: 8px;

  height: 40px;

  @at-root #{&}--primary {
    background-color: $primary;
    color: $white;
  }

  @at-root #{&}--secondary {
    background-color: $offwhite;
    color: $text--primary;
  }

  @at-root #{&}--big {
    height: 48px;
    border-radius: 2px;
  }
}

// Login END

// AppNav BEGIN

.appnav__bar {
  @include flex-row;
  @include flex-center;
  @include dropshadow(2);

  position: relative;
  justify-content: space-between;
  background-color: $primary;
  color: $white;
  width: 100%;
  height: 56px;
}

.appnav__container {
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
  height: 56px;
}

.appnav__menubtn__container {
  @include flex-row;
  @include flex-centered;

  position: absolute;
  left: 0;

  min-width: 56px;
  min-height: 56px;

  label {
    font-size: 20px;
  }

  i {
    padding-top: 2px;
    font-size: 36px;
  }

  // Optional Button Borders
  //border-right: 1px solid $primary--accent--dark;
  //box-shadow: 1px 0 0 0 $primary--accent--light;
}

.appnav__backToDeckIndex {
  @include flex-row;
  @include flex-centered;

  min-width: 56px;
  min-height: 56px;

  label {
    font-size: 20px;
  }

  i {
    padding-top: 2px;
    font-size: 36px;
  }

}

.appnav__search {
  @include flex-row;
  @include flex-center;
  margin: auto;
  transition: all .3s;
  label {
    //margin-left: 4px;  // Uncomment this if using Search Icon
    font-size: 20px;
  }

  &.disabled {
    opacity: .5;
  }
}

.appnav__addcard {
  @include flex-col;
  @include flex-centered;

  position: absolute;
  right: 0;

  min-width: 56px;
  min-height: 56px;

  // Optional Button Borders
  //border-left: 1px solid $primary--accent--light;
  //box-shadow: -1px 0 0 0 $primary--accent--dark;

  // Label - Hidden on mobile
  span {
    display: none;
  }
}

.appnav__savecard {
  label {
    font-size: 20px;
  }
}

.appnav__bumper {
  width: 100%;
  height: 56px;
  margin-bottom: 8px;
}

// AppNav END //

//---------------------------------//
//---------------------------------//

// DashBoard BEGIN //

.dashboard__container {
  padding: 12px;
  margin-bottom: 96px;
}

// DashNav BEGIN //

.dashnav__container {
  @include flex-row;
  @include flex-center;

  width: 100%;
  max-width: 624px;
  margin-bottom: 16px;
}

.dashnav__selectall--unselected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid $text--secondary;
  align-self: flex-start;

  margin-left: 16px;
}

.dashnav__selectall--selected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid $primary;
  align-self: flex-start;

  margin-left: 16px;

  background-size: contain;
  background-image: url(../images/study_checkbox-selected.svg);
  //background-position: center center;
  background-repeat: no-repeat;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
  -moz-transition:all 0.5s;
}

.dashnav__selectAllLabel {
  padding-left: 16px;
  color: $text--primary;
}

.dashnav__newdeck {  // Candidate for button mixin
  @include flex-row;
  @include flex-center;

  padding: 4px 12px 4px 4px;
  margin-left: auto;

  outline: none;
  border: none;
  border-radius: 2px;
  text-align: center;
  background-color: $primary;
  color: $white;

  i {
    margin-right: 4px;
  }
}


// New Deck Component
.newdeck__container {

  position: absolute;
  z-index: 6;
  top: 56px;
  left: 0;
  padding: 8px;
  box-sizing: border-box;

  width: 100%;
  min-height: 80px;
  max-width: 624px;

  background-color: $white;

  input {
    border: 1px solid $offwhite;
    padding: 4px;
  }
}


// All the classes during the ng-hide on this elem:
// newdeck__container ng-animate ng-hide-animate ng-hide-add ng-hide

.neckdeck__container .ng-hide-animate {
  @include slideOutUp;
}


.dashnav__studyButton__container {
  @include flex-col;
  @include flex-center;
  @include dropshadow(3);

  position: fixed;
  bottom: 0px;
  padding: 16px;
  box-sizing: border-box;

  width: 100%;
  background-color: $white;
  transition: all .3s;

  // Animations
  &.ng-enter {
    @include slideInUp;
    opacity: 1;
    visibility: visible;
  }

  &.ng-leave {
    @include slideOutDown;
  }

}

.dashnav__studyButton {
  width: 100%;
  height: 48px;
  color: $white;
  background-color: $primary;
  outline: none;
  border: none;
  border-radius: 2px;
}

// Deck BEGIN //

.decks__container {
  // Decks Plural

  @include flex-col;
  @include flex-center;
}

.deck__container {
  // Deck Singular

  @include flex-row;
  @include flex-center;
  @include dropshadow(1);

  width: 100%;
  max-width: 624px;

  padding: 16px;
  box-sizing: border-box;

  border-radius: 12px;
  background-color: $white;
}

.deck__wrapper {
  width: 100%;
  max-width: 624px;
  margin-bottom: 12px;
  align-self: center;
}



.deck__checkbox--unselected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid $background;
  align-self: flex-start;
}

.deck__checkbox--selected {
  //@include zoomIn;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  border: 3px solid $primary;
  align-self: flex-start;
  background-size: contain;
  background-image: url(../images/study_checkbox-selected.svg);
  //background-position: center center;
  background-repeat: no-repeat;
  transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
  -moz-transition:all 0.5s;
}

.deck__infotext {
  @include flex-row;

  flex-wrap: wrap;
}


.deck__title--mobile {
  margin: 0;
  padding-left: 16px;

  font-family: $secondarytype, serif;
  font-weight: 700;
}

.deck__title--mobile--empty {
  @extend .deck__title--mobile;

  margin-left: 0px;
}

// Deck Header Component

.deck__header__container {
  @include flex-col;
  @include flex-center;
  @include dropshadow(2);

  position: absolute;
  top: 56px;

  background-color: $white;
  width: 100%;
  height: 200px;
}

//---------------//
// DashBoard END //
//---------------//

//-------------------------------//
// Card BEGIN                    //
//-------------------------------//


// Provides opacity mask for background content
.cards__mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: #9E9E9E;
  opacity: 0.75;
  transition: all .3s;
}


// Holds the Q & A cards
.cards__stage {
  transition: all .3s;
  // Should be flex row on tablet and up.
  @include dropshadow(4);

  position: absolute;
  z-index: 5;
  width: 100%;  // TODO - This needs to be more like 70% on tablet and up.
  //height: 100%;
  top: 56px;
  overflow: scroll;

  // This block centers it
  left: 50%;
  transform: translate(-50%, 0);

  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;

  background-color: $offwhite;
  border-radius: 2px;
}


.deck__selection__wrapper {
  @include flex-row;
  @include flex-center;
  flex-wrap: nowrap;

  width: 100%;
  max-width: 320px;

  .selectize-input {
    border-radius: 2px 0 0 2px;
  }

  button {
    height: 36px;
    width: 80px;
    outline: none;
    border: 1px solid #018A6A;
    border-radius: 0 2px 2px 0px;
    margin-top: -4px;
    padding: 0 8px;

    background-color: $primary;
    color: $white;
  }
}


.card__wrapper {
  @include flex-col; // TODO - This should be a flex-row on tablet and larger...
  width: 100%;
}


.card__container {
  @include flex-col;

  width: 100%;
  max-width: 336px; // TODO - This max-width could be set in tablet and larger

  h1 {
    font-family: 'Source Serif Pro';
  }

  .card__editprev {
    @include dropshadow(1);

    width: 100%;
    height: 40px;
    position: relative;
    z-index: 2;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    border-radius: 2px 2px 0 0;

    background-color: $white;
    color: $text--primary;
    text-align: center;
  }

  .card--preview {
    @include flex-col;
    @include dropshadow(1);

    width: 100%;
    min-height: 300px;
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 0 0 2px 2px;

    background-color: $white;
  }

  .CodeMirror {
    @include card(1);

    position: relative;

    border-radius: 0 0 2px 2px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 8px 4px;
    margin: auto;

    font-family: 'Source Code Pro', serif;
    font-size: 13px;
    font-weight: 600;

  }
}


//-------------------------------//
// Card END                      //
//-------------------------------//


.deck__selection {
  width: 100%;
  max-width: 278px;
}

.card__index__container {
  @include flex-col;
  @include flex-center;

  width: 100%;
  margin-top: 208px; // height of navbar + deck-header + normal margin
  padding: 8px;
  box-sizing: border-box;
}


// PREVIEW CARD COMPONENT //

.card__preview__container {
  @include flex-col;
  @include card(1);

  background-color: $white;
  width: 100%;
  min-width: 304px;
  max-width: 320px;
  height: 100%;
  max-height: 200px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.card__preview__content {
  :first-child {
    margin-top: 0;
  }
}


//----------//
// Card END //
//----------//


.deck__title--tablet {
  margin: 0;
  padding-left: 16px;

  font-family: $secondarytype, serif;
  font-weight: 700;
}

.deck__title--mobile--empty {
  @extend .deck__title--mobile;

  padding-left: 0px;
}


.deck_textbreak {
  //display: block;
}

.deck__buttongroup__mobile {
  @include flex-row;
  @include flex-center;

  width: 100%;
  border-radius: 2px;
  overflow: hidden;


}

@mixin deck__studybtn__mobile {
  align-self: center;
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 8px;
  width: 50%;
  outline: none;
  border: none;
  //border-radius: 2px;
  transition: all .3s;

  // When disabled
  &.disabled {
    background-color: $offwhite--accent;
  }

  &:first-of-type {
    //border-right: 1px solid $primary--accent--dark;
  }

  &:last-of-type {
    //border-left: 1px solid $primary--accent--light;
    border-left: 1px solid $white;
  }
}

.deck__studybtn__mobile {
  @include deck__studybtn__mobile;
}

.deck__addcards__mobile {
  @include deck__studybtn__mobile;
  width: 100%;
}

.deck__timestamp {
  flex-wrap: wrap;

  color: $text--secondary;
}

.deck__donut__wrapper {
  margin: auto;
}

.deck__donut {
  @include flex-row;
  @include flex-center;
  @include flex-center-self;
  justify-content: space-around;
  //margin: auto;

  width: 264px;
  margin-bottom: 16px;

  section {
    @include flex-col;
    align-content: center;
    justify-content: space-around;
    p {
      margin: 0;
    }
  }

  .doughnut-legend {
    list-style: none;
    padding: 0 12px 0 0;
    margin: 0px;
    li {
      @include flex-row;
      @include flex-center;

      text-align: right;

      strong {
        text-align: right;
        max-width: 36px;
      }

      span {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin: 0 8px;
      }
    }
  }
}

.deck__stats {
  font-size: 15px;
  border-right: 1px solid $offwhite;
  text-align: center;
  padding-right: 16px;
}

.deck__schedule {
  //padding-bottom: 8px;
  margin-bottom: 8px;
  .material-icons {
    font-size: 14px;
    padding-top: 4px;
  }

  td {
    vertical-align: middle;
  }

  // Card Count Column
  td:nth-child(1) {
    text-align: right;
  }

  // Icon Column
  td:nth-child(2) {
    width: 24px;
    text-align: center;
  }

  // Label Column
  td:nth-child(3) {
    text-align: left;
  }
  //border-bottom: 1px solid $offwhite--accent;
}

.deck__canvas__container {
  @include flex-center;
  @include flex-col;
  width: 96px;
  height: 96px;
  position: relative;

  canvas: {
    position: relative;
  }

}

.deck__card-count {
  position: relative;
  top: -64px;

  margin: 0;

  font-weight: 400;
  font-size: 24px;
}


//-------------------------//
// BREAKPOINT - PHONE ONLY //
//-------------------------//

@media screen and (max-device-width: 399px) {
  .deck__title--tablet {
    display: none;
  }

  .deck__studybtn__tablet {
    display: none;
  }

  .appnav__menubtn__container {
    &.hidden {
      @include slideOutLeft;
      display: none;
    }
  }
}

//-----------------------------//
// END BREAKPOINT - PHONE ONLY //
//-----------------------------//



///////////////////////////
///// PHONE LANDSCAPE /////
///////////////////////////

@media only screen
and (min-device-width: 400px)
and (max-device-width: 600px) {
  .deck__container {
    //@include flex-col;
  }

  .deck__title--mobile {
    display: none;
  }

  .deck__infotext {
    @include flex-col;
  }

  .deck__timestamp {
    padding-left: 16px;
    margin: 8px 0;
  }

  .deck__checkbox--unselected {
    //align-self: auto;
  }

  .deck__donut__wrapper {
    margin: 16px auto;
  }


  .deck__studybtn__tablet {
    display: none;
  }
}


//------------------------------//
// BREAKPOINT - TABLET PORTRAIT //
//------------------------------//

@media only screen
and (min-device-width: 601px) {

  .appnav__menubtn__container {
    border-right: 1px solid $primary--accent--dark;
    box-shadow: 1px 0 0 0 $primary--accent--light;
  }

  .appnav__backToDeckIndex {
    @include flex-row;
    @include flex-centered;

    margin-left: 72px;
    min-width: 56px;
    min-height: 56px;

    label {
      font-size: 20px;
    }

    i {
      padding-top: 2px;
      font-size: 36px;
    }

  }

  .deck__container, .deck__wrapper {
    @include flex-col;
    align-self: center;
  }

  .appnav__addcard {
    @include flex-row;
    @include flex-center;

    position: absolute;
    right: 0;

    border: none;
    box-shadow: none;
    margin-right: 16px;

    // Button Label
    span {
      display: inline-block;
      margin-right: 8px;
      font-size: 20px;
    }
  }

  .dashnav__selectall--unselected {
    visibility: visible;
    opacity: 1;
    align-self: auto;
    width: 30px;
    height: 30px;
    border: 5px solid $text--secondary;
    border-radius: 8px;
    margin-left: 24px;
    transition: all .3s;
  }

  .dashnav__selectall--selected {
    visibility: visible;
    opacity: 1;
    align-self: auto;
    width: 30px;
    height: 30px;
    border: 5px solid $primary;
    border-radius: 8px;
    margin-left: 24px;

    background-size: contain;
    background-image: url(../images/study_checkbox-selected.svg);
    //background-position: center center;
    background-repeat: no-repeat;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -o-transition:all 0.5s;
    -moz-transition:all 0.5s;
  }

  .dashnav__selectAllLabel {
    padding-left: 16px;
    color: $text--primary;
    font-size: 18px;
  }

  .deck__container {
    @include flex-row;
    background-color: $white;
  }

  .deck__checkbox--unselected {
    align-self: auto;
    width: 30px;
    height: 30px;
    border: 5px solid $background;
    border-radius: 8px;
    margin-left: 8px;
  }

  .deck__checkbox--selected {
    align-self: auto;
    width: 30px;
    height: 30px;
    border: 5px solid $primary;
    border-radius: 8px;
    margin-left: 8px;
  }

  .deck__title--mobile {
    display: none;
  }

  .deck__infotext {
    @include flex-col;

    margin-left: 24px;
  }

  .deck__title--tablet {
    padding: 0;
    font-size: 22px;
    max-width: 256px;
  }

  .deck__timestamp {
    margin: 8px 0;
  }

  .deck__studybtn__mobile {
    display: none;
  }

  .dashnav__studyButton__container {
    @include flex-col;
    @include flex-center;
    @include dropshadow(4);

    position: fixed;
    bottom: 0;
    padding: 16px;
    box-sizing: border-box;

    width: 100%;
    background-color: $white;
    transition: all .3s;

    // Animations
    &.ng-enter {
      @include slideInUp;
      opacity: 1;
      visibility: visible;
    }

    &.ng-leave {
      @include slideOutDown;
    }

  }

  .dashnav__studyButton {
    height: 72px;
    max-width: 624px;

    font-size: 24px;
    font-weight: bold;
  }


  .deck__addcards__mobile {
    display: none;
  }

  .deck__studybtn__tablet {
    padding: 0;
    margin: 0;
    width: 88px;
    color: $primary;
    text-decoration: underline;
    text-align: left;
    outline: none;
    border: none;
    background-color: $white;

    // When disabled
    &.disabled {
      color: $text--secondary;
    }
  }

  .deck__donut__wrapper {
    margin-left: auto;
    margin-right: 0;
  }

  .deck__donut {
    margin-bottom: 0px;
    flex-wrap: nowrap;
  }

  .deck__header__container {
    @include flex-col;
    @include flex-center;
    @include dropshadow(2);

    position: absolute;
    top: 56px;

    background-color: $white;
    width: 100%;
    height: 141px;
  }

  .card__index__container {
    @include flex-row;
    flex-wrap: wrap;
    align-self: center;

    justify-content: center;
    width: 100%;
    margin-top: 165px; // height of navbar + deck-header + normal margin
    padding: 8px;
    box-sizing: border-box;
  }

  .card__preview__container {
    @include flex-col;
    @include card(1);

    background-color: $white;
    width: 320px;
    height: 100%;
    max-height: 200px;
    padding: 16px;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .cards__stage {
    width: 75%;
    min-height: 85%;
    top: 72px;
    padding: 40px 16px 16px 16px;
    border-radius: 8px;
  }


  .card__wrapper {
    @include flex-row;
    @include flex-center-self;
    justify-content: center;
    width: 100%;
    max-width: 768px;
  }

  .card__container {
    @include flex-col;

    &:first-of-type {
      margin-right: 16px;
    }

    width: 100%;
    max-width: 336px; // TODO - This max-width could be set in tablet and larger

    h1 {
      font-family: 'Source Serif Pro';
    }

    .card__editprev {
      @include dropshadow(1);

      width: 100%;
      height: 40px;
      position: relative;
      z-index: 2;
      padding: 0;
      box-sizing: border-box;

      outline: none;
      border: none;
      border-radius: 2px 2px 0 0;

      background-color: $white;
      color: $text--primary;
      text-align: center;
    }

    .card--preview {
      @include flex-col;
      @include dropshadow(1);

      width: 100%;
      min-height: 400px;
      height: 90%;
      position: relative;
      z-index: 2;
      padding: 8px 16px;
      box-sizing: border-box;
      overflow: scroll;
      border-radius: 0 0 2px 2px;

      background-color: $white;
    }

    .CodeMirror {
      @include card(1);

      position: relative;

      border-radius: 0 0 2px 2px;
      width: 100%;
      box-sizing: border-box;
      padding: 8px 4px;
      margin: auto;

      font-family: 'Source Code Pro', serif;
      font-size: 13px;
      font-weight: 600;

    }
  }

  .card__question__label {
    text-align: left;
  }

  .card__answer__label {
    text-align: right;
    margin-left: auto;
  }
}
