@import 'variables';
@import 'layout';
//@import '_include-media';

html, body {
  font-family: $maintype, sans-serif;
  background-color: $background;
}

// COMPONENTS

// Login BEGIN

.login__background {
  background-color: $primary;
  width: 100vw;
  min-height: 100vh;
}

.login__title {
  color: $white;
  font: $secondarytype;
  font-size: 60px;
  font-weight: 100;
  line-height: 75px;
  text-shadow: -1px 1px 0 $primary--accent--dark;

  margin-top: 32px;
  margin-bottom: 8px;
}

.login__byline {
  color: $white;
  font-family: $secondarytype, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  padding: 0 16px;
  margin: 0 0 18px 0;
}

.login__form {
  @include flex-col;
  @include card(1);

  background-color: $white;

  min-width: 296px;

  padding: 8px;
  margin: 0 12px 12px 12px;
  box-sizing: border-box;

  form {
    @include flex-col;

    padding-top: 14px;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    color: $text--primary;

    padding: 0 0 0 4px;
    margin-bottom: 4px;
  }

  input {
    background-color: $offwhite;
    border: 1px solid $offwhite--accent;
    border-radius: 2px;
    outline: none;

    height: 48px;
    padding: 0 12px;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  button {
    &.btn--primary {
      margin-bottom: 24px;
    }

    &.btn--secondary {
      margin-bottom: 8px;
    }
  }
}

.btn {
  @include card(1);

  border: none;
  outline: none;
  border-radius: 8px;

  height: 40px;

  @at-root #{&}--primary {
    background-color: $primary;
    color: $white;
  }

  @at-root #{&}--secondary {
    background-color: $offwhite;
    color: $text--primary;
  }

  @at-root #{&}--big {
    height: 48px;
    border-radius: 2px;
  }
}

// Login END

// AppNav BEGIN

.appnav__bar {
  @include flex-row;
  @include flex-center;
  @include dropshadow(2);

  background-color: $primary;
  color: $white;
  width: 100%;
  height: 56px;
}

.appnav__container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 56px;
}

.appnav__menubtn__container {
  @include flex-col;
  @include flex-centered;

  margin-right: auto;
  min-width: 56px;
  min-height: 56px;
  border-right: 1px solid $primary--accent--dark;
  box-shadow: 1px 0 0 0 $primary--accent--light;
}

.appnav__search {
  @include flex-row;
  @include flex-center;
  margin: auto;
  label {
    //margin-left: 4px;  // Uncomment this if using Search Icon
    font-size: 20px;
  }
}

.appnav__addcard {
  @include flex-col;
  @include flex-centered;

  margin-left: auto;
  min-width: 56px;
  min-height: 56px;
  border-left: 1px solid $primary--accent--light;
  box-shadow: -1px 0 0 0 $primary--accent--dark;
}

.appnav__bumper {
  width: 100%;
  height: 56px;
  margin-bottom: 16px;
}

// AppNav END //

//---------------------------------//
//---------------------------------//

// DashBoard BEGIN //

.dashboard__container {
  padding: 12px;
}

// Deck BEGIN //

.decks__container {
  // Decks Plural

  @include flex-col;
  @include flex-center;
}

.deck__container {
  // Deck Singular

  @include flex-row;
  @include flex-center;
  @include dropshadow(1);

  width: 100%;
  max-width: 624px;

  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 12px;

  border-radius: 12px;
  background-color: $white;
}

.deck__checkbox--unselected {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  transition: border .3s;
  border: 3px solid $background;
  align-self: flex-start;
}

.deck__infotext {
  @include flex-row;

  flex-wrap: wrap;
}

.deck__title {
  margin: 0;
  padding-left: 16px;

  font-family: $secondarytype, serif;
  font-weight: 700;
}

.deck_textbreak {
  //display: block;
}

.deck__studybtn__mobile {
  align-self: center;
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 8px;
  width: 100%;
  border-radius: 2px;
}

.deck__timestamp {
  flex-wrap: wrap;

  color: $text--secondary;
}