@import 'variables';

// Flexbox Utility Classes

@mixin flex-col {
  display: flex;
  flex-flow: column;
}

@mixin flex-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

@mixin flex-center {
  align-items: center;
}

.col {
  @include flex-col;
}

.row {
  @include flex-row;
}
