<div class="dashboard__container">

    <!--Empty State BEGIN-->
    <div ng-if="!decks.length">
        <button ng-click="getDecks()">Create Deck</button>
        <p>The journey of a 1,000 miles begins with a single step...</p>
    </div>
    <!--Empty State END-->

    <!--Deck Index State BEGIN-->
    <button>Create Deck</button>
    <div class="decks__container" ng-if="decks.length">
        <div class="deck__container" ng-repeat="deck in decks">


            <div class="deck__checkbox--unselected" ng-click="toggleStudyThisDeck($event, deck.id)"></div>
            <h3 class="deck__title--mobile">{{deck.title}}</h3>
            <div class="deck__infotext">
                <h3 class="deck__title--tablet">{{deck.title}}</h3>
                <p class="deck__timestamp">Last studied on November 24th, 2015 &nbsp;</p>
                <a class="deck__studybtn__tablet" ngclick="studyDeck(deck.id)">Study Now</a>
            </div>

            <ratings-donut ratings="{{deck.ratings}}" class="deck__donut__wrapper"></ratings-donut>
            <a class="deck__studybtn__mobile" ngclick="studyDeck(deck.id)">Study Now</a>
        </div>
    </div>
    <!--Deck Index State END-->

</div>
