<div ng-controller="loginCtrl" class="col center login__background">
    <h1 class="login__title">Kuato</h1>
    <h3 class="login__byline">A spaced repetition learning system for strengthening your memory & mind.</h3>
    <div class="login__form" id="login-element" ng-if="login">
        <form ng-submit="userLogin()" id="login">
            <label for="email">What is your email?</label>
            <input ng-model="email" id="email" type="text" placeholder="iamquaid@rekall.net">

            <label for="password">What is your password?</label>
            <input ng-model="password" type="password" placeholder="Give deez peepul eaurr" id="password">

            <button type="submit" class="btn btn--primary btn--big">Login</button>
        </form>

        <label for="goToRegister">Not a user yet?</label>
        <button id="goToRegister" class="btn btn--secondary btn--big" ng-click="toggleRegister()">Register</button>
    </div>

    <div class="login__form" id="register-element" ng-if="!login">
        <form ng-submit="userRegister(registerEmail, registerPassword)" id="register">
            <label for="registerEmail">What is your email?</label>
            <input ng-model="registerEmail" id="registerEmail" type="text" placeholder="iamquaid@rekall.net">

            <label for="registerPassword">What is your password?</label>
            <input ng-model="registerPassword" type="password" placeholder="Give deez peepul eaurr" id="registerPassword">

            <label for="passwordConfirm">One more time?</label>
            <input ng-model="registerPasswordConfirm" type="password" placeholder="Give deez peepul eaurr" id="passwordConfirm">

            <button type="submit" class="btn btn--primary btn--big">Register</button>
        </form>

        <label for="goToLogin">Already a user?</label>
        <button id="goToLogin" class="btn btn--secondary btn--big" ng-click="toggleRegister()">Login</button>
    </div>
</div>

