<appnav></appnav>
<div class="study__component">
    <div class="cards_to_study_wrapper" ng-hide="doneStudying">
        <h3 class="study__cardsRemaining">{{cards.queued.length}}</h3>

        <section class="study__nav">
            <button class="study__button" card-id={{active.id}} deck-id="{{active.deck_id}}" context="study" card-operator>Edit Card</button>
            <button class="study__button" ng-click="toggleShowAnswer()" ng-show="showAnswer == false">Show Answer</button>
            <button class="study__button" ng-click="toggleShowAnswer()" ng-show="showAnswer == true">Hide Answer</button>
        </section>

        <!-- This is where the study-card directive is rendered -->
        <div class="col" id="currentCardTarget"></div>

        <div class="study__ratings__component" ng-show="showAnswer == true">
            <div class="study__ratings__component__wrapper">
                <h3>Recalling the answer was:</h3>
                <div class="button-group row">
                    <button ng-click="rateCard(1)">Easy</button>
                    <button ng-click="rateCard(2)">Medium</button>
                    <button ng-click="rateCard(3)">Hard</button>
                </div>
            </div>
        </div>
    </div>
    <div class="end_studying_session" ng-show="doneStudying">
        <h1 class="centered">Congrats!</h1>
        <h3 class="centered">You're all done with this deck</h3>
        <button ng-click="endStudying()">End Study Session</button>
    </div>
</div>